<html>
<head>
	<title></title>
</head>
<body>

<h3>
	Dear Sir,
</h3>
<div class="row p-5 emailpreview">

I would like to join your network
<p>{{message}}</p>

<p >Sent through ICape 66 </p>


All the best,<br>
The ICape 66 Team


</body>
</html>