<html>
<head>
	<title></title>
</head>
<body>
Dear (First Name),

Do you need any personal intros, supplier recommendations, or advice this week? 

Ask for what you need now (links to main feed/homepage). Your fellow entrepreneurs are here to help. 

All the best,
The ICape 66 Team


</body>
</html>