<html>
<head>
	<title></title>
</head>
<body>
	
Dear {{user.name}},

Thank you very much for all the help you’ve given other entrepreneurs. We’re delighted to  let you know that you’re now featured amongst the top 10% or 20% of entrepreneurs in your {{category}}.<a href="{{category.url}}"/> 
We hope the relationships you’ve built are already paying dividends for you. 

All the best,
The ICape 66 Team

</body>
</html>