<html>
<head>
	<title></title>
</head>
<body>
	
Dear {{user.name}},

We’ve noticed that you have been inactive over the last 3 weeks. We’re sure you must be busy and hope that all is well. 

Membership of Reciprocās requires the participation of all members. If you help somebody, then when you need it someone will help you. Help a fellow entrepreneur now (this links to main news feed). 

All the best,
The ICape 66 Team

</body>
</html>