{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Founders list</h1>
    <p>List of founders sorted by date</p>

    <table id="founders"  data-order='[[ 0, "asc" ]]' class="records_list  table table-responsive table-striped table-borderd">
        <thead>
            <tr>
                <th>Requested</th>
                <th>Name</th>
                <th>Country</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.created %}{{ entity.created|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
     </table>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#founders').DataTable();
        });
    </script>

    {% endblock %}
